<nav class="navbar navbar-light bg-success"><!--Define a navegação donde o navbar-light significa barra bramda e o bg-light significa letra preta. (dark é branco pra letras-->
    <a class="navbar-brand" href="/" >
    <img src="/img/logo.png">
    </a>
</nav>